name: Sync Translations

on:
  workflow_dispatch:
  push:
  pull_request:
  schedule:
    # * is a special character in YAML so you have to quote this string
    # run every day at 00:42
    - cron:  '42 0 * * *'

jobs:
  sync-translations:
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install gettext qt6-l10n-tools

      - name: Checkout current repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Checkout avogadroapp
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: openchemistry/avogadroapp
          path: openchemistry/avogadroapp

      - name: Checkout avogadrolibs
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: openchemistry/avogadrolibs
          path: openchemistry/avogadrolibs

      - name: Debug file layout
        run: |
          echo `pwd`
          echo `ls -d *`

      - name: Update avogadrolibs QM files
        run: |
          PROJECT=avogadrolibs
          cd openchemistry/${PROJECT}/i18n

          # generate the TS files from the PO files
          echo "Generating TS"
          for file in *.po; do
            /usr/lib/qt6/bin/lconvert $file -o ${file%.po}.ts
          done
          echo "updating TS"
          for file in *.ts; do
            /usr/lib/qt6/bin/lupdate .. -ts $file
          done
          # generate the QM files from TS files
          echo "Generating QM"
          /usr/lib/qt6/bin/lrelease -compress -removeidentical *.ts
          # don't keep the TS anymore
          rm *.ts
          echo "Renaming QM"
          for file in *.qm; do
            mv ${file} ${PROJECT}-${file}
          done
          echo `ls *.qm`
          mv *.qm ${GITHUB_WORKSPACE}/${PROJECT}

      - name: Update avogadroapp QM files
        run: |
          PROJECT=avogadroapp
          cd openchemistry/${PROJECT}/i18n

          # generate the TS files from the PO files
          for file in *.po; do
            /usr/lib/qt6/bin/lconvert $file -o ${file%.po}.ts
          done
          echo "updating TS"
          for file in *.ts; do
            /usr/lib/qt6/bin/lupdate .. -ts $file
          done
          # generate the QM files from TS files
          /usr/lib/qt6/bin/lrelease -compress -removeidentical *.ts
          # don't keep the TS anymore
          rm *.ts
          for file in *.qm; do
            mv ${file} ${PROJECT}-${file}
          done
          mv *.qm ${GITHUB_WORKSPACE}/${PROJECT}

      - name: Update git repo
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          default_author: github_actions
          message: Apply automatic translations
          add: '*/*.qm'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          path: ${{ runner.workspace }}/*/*.qm
          name: AvoI18n
